[mysqld]
key_buffer_size=16M
max_allowed_packet=1G
sort_buffer_size=512k
net_buffer_length=8k
read_buffer_size=256k
read_rnd_buffer_size=512k
sql_mode=NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION
log_bin_trust_function_creators=1

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

[mysqldump]
max_allowed_packet=1G