<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SalonAz</title>
    <link rel="stylesheet" href="{% static 'review/assets/css/main.css' %}">
    <script src="{% static 'review/assets/js/main.js' %}"></script>
</head>
<body>
    <div id="app">
        <div class="review-container__wrapper">
            <div class="review-container">
                <div class="review-header">
                    <img class="review-header-img" src="./assets/img/nailspa.png" alt="nailspa">
                </div>
                <span class="review-content">
                    Hi,  How would you rate your most recent service?
                </span>
                <div class="rating-container">
                    <div class="star-container">
                        <div class="star">
                            <img class="outline star1" src="./assets/img/star_outline.svg" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star2" src="./assets/img/star_outline.svg" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star3" src="./assets/img/star_outline.svg" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star4" src="./assets/img/star_outline.svg" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star5" src="./assets/img/star_outline.svg" alt="">
                        </div>
                    </div>
                </div>
                <form class="complain-container">
                    <textarea class="review-area" placeholder="Write review to help us better"></textarea>
                    <input class="review-input"  type="text" placeholder="Phone number (optional)">
                   <button onclick="test()" class="btn-submit">Submit</button>
                </form>

                <div class="review-google-container">
                    <button class="login-google-button">
                        <img class="google-img" src="./assets/img/google.svg" alt="google">
                        <span class="login-text">Sign in with Google</span>
                    </button>
                    <span class="review-google-description"> Sign in with your Google Account to write a
                        <span class="bold-text">review on Google,</span>
                         Your review enters you in for a chance to win a
                        <span class="bold-text underline-text highlight-text item">$250 gift card</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    var star1 = document.querySelector('.star1')
    var star2 = document.querySelector('.star2')
    var star3 = document.querySelector('.star3')
    var star4 = document.querySelector('.star4')
    var star5 = document.querySelector('.star5')
    var form_one_three = document.querySelector('.complain-container')
    var form_four_five = document.querySelector('.review-google-container')

   star1.addEventListener("click", function(event){
        form_one_three.style.display = 'flex'
        form_four_five.style.display = 'none'
        star1.src = './assets/img/star_fill.svg'
        if((star4.src = './assets/img/star_fill.svg') &&  (star5.src = './assets/img/star_fill.svg') && (star3.src = './assets/img/star_fill.svg') && ( star2.src = './assets/img/star_fill.svg')){
            star2.src = './assets/img/star_outline.svg'
            star3.src = './assets/img/star_outline.svg'
            star4.src = './assets/img/star_outline.svg'
            star5.src = './assets/img/star_outline.svg'
        }
    });

    star2.addEventListener("click", function(event){
        form_one_three.style.display = 'flex'
        form_four_five.style.display = 'none'
        star1.src = './assets/img/star_fill.svg'
        star2.src = './assets/img/star_fill.svg'
        if((star4.src = './assets/img/star_fill.svg') &&  (star5.src = './assets/img/star_fill.svg') && (star3.src = './assets/img/star_fill.svg')){
            star3.src = './assets/img/star_outline.svg'
            star4.src = './assets/img/star_outline.svg'
            star5.src = './assets/img/star_outline.svg'
        }
    });

    star3.addEventListener("click", function(event){
        form_one_three.style.display = 'flex'
        form_four_five.style.display = 'none'
        star3.src = './assets/img/star_fill.svg'
        star2.src = './assets/img/star_fill.svg'
        star1.src = './assets/img/star_fill.svg'
        if((star4.src = './assets/img/star_fill.svg') &&  (star5.src = './assets/img/star_fill.svg')){
            star4.src = './assets/img/star_outline.svg'
            star5.src = './assets/img/star_outline.svg'
        }

    });

    star4.addEventListener("click", function(event){
        form_four_five.style.display = 'flex'
        form_one_three.style.display = 'none'
        star4.src = './assets/img/star_fill.svg'
        star3.src = './assets/img/star_fill.svg'
        star2.src = './assets/img/star_fill.svg'
        star1.src = './assets/img/star_fill.svg'
        if((star5.src = './assets/img/star_fill.svg')){
            star5.src = './assets/img/star_outline.svg'
        }

    });

    star5.addEventListener("click", function(event){
        form_four_five.style.display = 'flex'
        form_one_three.style.display = 'none'
        star5.src = './assets/img/star_fill.svg'
        star4.src = './assets/img/star_fill.svg'
        star3.src = './assets/img/star_fill.svg'
        star2.src = './assets/img/star_fill.svg'
        star1.src = './assets/img/star_fill.svg'

    });

</script>
</html>


