<!DOCTYPE html>
<html lang="en">
<head>
    {% load socialaccount %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ store.store_name }}</title>
    <link rel="stylesheet" href="{% static 'review/assets/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'review/assets/js/main.js' %}"></script>
</head>
<body>
    <div id="app">
        <div class="review-container__wrapper">
            {% if message %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endif %}
            <div class="review-container">
                <div class="review-header">
                    <img class="review-header-img" src="{{ store.logo }}" alt="nailspa">
                </div>
                <span class="review-content">
                    {{ store.message }}
                </span>
                <div class="rating-container">
                    <div class="star-container">
                        <div class="star">
                            <img class="outline star1" src="{% static 'review/assets/img/star_outline.svg' %}" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star2" src="{% static 'review/assets/img/star_outline.svg' %}" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star3" src="{% static 'review/assets/img/star_outline.svg' %}" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star4" src="{% static 'review/assets/img/star_outline.svg' %}" alt="">
                        </div>
                        <div class="star">
                            <img class="outline star5" src="{% static 'review/assets/img/star_outline.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <form action="{% url 'review:ReviewPage' store_name %}" class="complain-container" method="post" enctype="multipart/form-data">
<!--                    <textarea class="review-area" placeholder="Write review to help us better"></textarea>-->
<!--                    <input class="review-input"  type="text" placeholder="Phone number (optional)">-->
                    {% csrf_token %}
                    {{form.review_content}}
                    {{form.phone_number}}
                    {{ form.review_score  }}
                   <button type="submit" class="btn-submit" name="btnform">Submit</button>
                </form>

                <form action="{% url 'review:ReviewPage' store_name %}" class="review-google-container" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form2.review_score  }}
                    <button class="login-google-button" type="submit" name="btnform2" >
                        <img class="google-img" src="{% static 'review/assets/img/google.svg' %}" alt="google">
                        <span class="login-text">Sign in with Google</span>
                    </button>
                    <span class="review-google-description"> Sign in with your Google Account to write a
                        <span class="bold-text">review on Google,</span>
                         Your review enters you in for a chance to win a
                        <span class="bold-text underline-text highlight-text item">$250 gift card</span>
                    </span>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<script type="text/javascript">

    var star1 = document.querySelector('.star1')
    var star2 = document.querySelector('.star2')
    var star3 = document.querySelector('.star3')
    var star4 = document.querySelector('.star4')
    var star5 = document.querySelector('.star5')
    var form_one_three = document.querySelector('.complain-container')
    var form_four_five = document.querySelector('.review-google-container')

   star1.addEventListener("click", function(event){
        form_one_three.style.display = 'flex'
        form_four_five.style.display = 'none'
        star1.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star2.src = '{% static 'review/assets/img/star_outline.svg' %}'
        star3.src = '{% static 'review/assets/img/star_outline.svg' %}'
        star4.src = '{% static 'review/assets/img/star_outline.svg' %}'
        star5.src = '{% static 'review/assets/img/star_outline.svg' %}'
        document.getElementById("id_review_score1").value = "1";
    });

    star2.addEventListener("click", function(event){
        form_one_three.style.display = 'flex'
        form_four_five.style.display = 'none'
        star1.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star2.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star3.src = '{% static 'review/assets/img/star_outline.svg' %}'
        star4.src = '{% static 'review/assets/img/star_outline.svg' %}'
        star5.src = '{% static 'review/assets/img/star_outline.svg' %}'
        document.getElementById("id_review_score1").value = "2";
    });

    star3.addEventListener("click", function(event){
        form_one_three.style.display = 'flex'
        form_four_five.style.display = 'none'
        star3.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star2.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star1.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star4.src = '{% static 'review/assets/img/star_outline.svg' %}'
        star5.src = '{% static 'review/assets/img/star_outline.svg' %}'
        document.getElementById("id_review_score1").value = "3";
    });

    star4.addEventListener("click", function(event){
        form_four_five.style.display = 'flex'
        form_one_three.style.display = 'none'
        star4.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star3.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star2.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star1.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star5.src = '{% static 'review/assets/img/star_outline.svg' %}'
        document.getElementById("id_review_score2").value = "4";
    });

    star5.addEventListener("click", function(event){
        form_four_five.style.display = 'flex'
        form_one_three.style.display = 'none'
        star5.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star4.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star3.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star2.src = '{% static 'review/assets/img/star_fill.svg' %}'
        star1.src = '{% static 'review/assets/img/star_fill.svg' %}'
        document.getElementById("id_review_score2").value = "5";
    });

    var message = document.getElementsByClassName("alert").length;

    if (message) {
        setTimeout(function(){
                window.location.href = '{{store.website}}';
             }, 3000);
    }
</script>
</html>


